body {
  margin-top: 80px;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  min-height: 100vh;
  ;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 2px black;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#show-all {
  width: 200px;
}

#add-new-btn {
  width: 200px;
  background-color: rgb(17, 190, 17);
}



.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}

#btn-submit {
  padding: 10px 20px;
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}

.delete-btn {
  color: white;
  background: red;
  float: right;
  margin: 0;
}


.card {
  width: 18rem;
  background: rgb(238, 236, 234);
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}

.card-header {
  background: rgb(238, 236, 234);
  padding: 5px;
}

.card img {
  width: 16rem;
  height: 10rem;
  margin: 10px auto;
}

.pet-skill {
  padding: 0 5px;
  min-height: 100px;
}

.pet-type {
  background: rgb(238, 236, 234);
  padding: 20px;
  border-top: 2px solid black;
  text-transform: uppercase;
}

.pet-type p {
  float: left;
  margin: 10px 20px;
  font-size: 20px;
}

.cat {
  background: lightblue;
}

.dog {
  background: lightgreen;
}

.dino {
  background: lightsalmon;
}

form {
  width: 80%;
  margin: 0 auto;
}

.pop-up-form {
  display: none;
}

.pop-up-form-click {
  display: block;
}
